<div class="form-group{% if field.errors %} has-error{% endif %}">
    <input type="{% if field.html_name == "password" %}password{% else %}text{% endif %}" id="id_{{ field.html_name }}" name="{{ field.html_name }}" class="form-control input-lg" placeholder="{{ field.label }}"/>
    {% if field.errors %}
        <span class="help-block">
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </span>
    {% endif %}
</div>
