{% verbatim %}
    <script id="lightbox-template" type="text/x-handlebars-template">
        <div class="lightbox-background">
            <div class="lightbox-wrapper">
                <div class="lightbox-image-wrapper">
                    <img class="lightbox-image" src="{{image.standard.image}}" />
                </div>
                <div class="lightbox-data clearfix">
                {{#if description}}
                    <div class="description">
                        {{description}}
                    </div>
                {{/if}}
                    <div class="avatar pull-left">
                        <img src="http://gravatar.com/avatar/{{submitter.gravatar}}.jpg">
                    </div>
                    <div class="text pull-left">
                        <span class="dim">pinned by</span> {{submitter.username}}
                        {{#if tags}}
                            <br /><span class="dim">in</span>
                        {{#each tags}}
                            <span class="tag"><a href="/pins/tag/{{this}}/">{{this}}</a></span>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endverbatim %}
