{% load new_pin %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ site_name }} - {% block title %}{% endblock %}</title>

        {% compress css %}
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.0.3/css/bootstrap.css">
            <link rel="stylesheet" href="/static/vendor/fancybox/2.0.6/jquery.fancybox.css">

            <link rel="stylesheet" href="/static/core/css/pinry.css">
        {% endcompress %}

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Monoton">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a href="{% url core:home %}" class="brand pull-left">{{ site_name }}</a>

                <div class="tags pull-left"></div>

                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li><a href="#new-pin" data-toggle="modal">New Pin</a></li>
                        <li><a href="{% url core:logout %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url core:login %}">Login</a></li>
                        <li><a href="{% url core:register %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block yield %}{% endblock %}

        {% new_pin request %}

        {% compress js %}
            <script src="/static/vendor/jquery/1.7.2/jquery.js"></script>
            <script src="/static/vendor/bootstrap/2.0.3/js/bootstrap.js"></script>
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.js"></script>
            <script src="/static/vendor/fancybox/2.0.6/jquery.fancybox.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>
            <script src="/static/vendor/js-url/1.7.2/js-url.js"></script>

            <script src="/static/core/js/pinry.js"></script>
            <script src="/static/core/js/messages.js"></script>
        {% endcompress %}
    </body>
</html>
