{% extends 'core/base.html' %}

{% load bootstrap_field %}


{% block title %}Login{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div id="form" class="span6 offset3">
                <h1>Register</h1>
                <form action="{% url core:register %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% for field in form %}
                        {% bootstrap_field field %}
                    {% endfor %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a href="{% url core:home %}" class="btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
