# Virtualenv/Common
/bin/
/build/
/dist/
/include/
/lib/
/local/
/media/
/src/
/static/
/*.egg-info/
/pip-log.txt

# Buildout
/eggs/
/develop-eggs/
/.installed.cfg
/*.egg

# Project
/*.db

# Misc
/.idea/
*.pyc
*.swp
