# local_settings
local_settings.py

# Ignore docker-compose
docker-compose.yml

# Virtualenv/Common
/bin/
/build/
/dist/
/include/
/lib/
/local/
/media/
/src/
/static/
/*.egg-info/
/pip-log.txt
/venv/
/.venv/

# Buildout
/eggs/
/develop-eggs/
/.installed.cfg
/*.egg

# Bower
/pinry/static/vendor/

# sphinx
/docs/_build/

# Project
/*.db
/*.sqlite3

# Misc
/.idea/
*.pyc
*.swp

# mkdocs
/docs/dist/

# vscode
/.vscode
