[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
"flake8" = "*"
qrcode = "*"
django-extensions = "*"
mkdocs = "*"
mkdocs-material = "*"
black = "==19.10b0"

[packages]
django = ">=3,<4"
pillow = ">=6.2.2"
requests = "*"
django-taggit = "*"
django-braces = "*"
django-compressor = "*"
mock = "*"
gunicorn = "*"
djangorestframework = "*"
markdown = "<3.2"
django-filter = "==2.2.0"
coreapi = "*"
psycopg2-binary = "*"
