Django
Pillow
South
django-tastypie
django-braces
mock
factory-boy
http://github.com/mirumee/django-images/tarball/master#egg=django-images
http://github.com/hcarvalhoalves/django-taggit/tarball/master#egg=django-taggit
