{% extends 'core/base.html' %}


{% block title %}500{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div id="form" class="span6 offset3">
                <h1>500</h1>
                <p>Something went wrong! If you figure out what it was please
                    submit an issue on Pinry's
                    <a href="https://github.com/overshard/pinry/issues">GitHub Issue's page</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
