body {
    margin-top: 70px;
    background: #eee;
}

.navbar-inner {
    background-image: none;
    background: #222;
    filter: none;
    height: 48px;
}

    .navbar .brand {
        margin-left: 0;
        color: #fff;
        font-family: 'Monoton';
        font-size: 30px;
    }

    .navbar .nav > li > a {
        color: #333;
        background: #ddd;
        text-shadow: none;
        padding: 3px 13px;
        margin: 12px 7px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }

    .navbar .nav > li:last-child > a {
        margin-right: 14px;
    }

    .navbar .nav > li > a:hover {
        color: #ddd;
        background: #275173;
    }

.messages {
    list-style-type: none;
    top: 50px;
    right: 10px;
    position: absolute;
    z-index: 200;
}

    .messages li {
        margin: 10px 0;
        padding: 18px 28px;
        border: 1px solid #ccc;
        font-size: 16px
    }

    .messages li:hover {
        -webkit-transform: scale(1.1);
           -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
             -o-transform: scale(1.1);
                transform: scale(1.1);
        cursor: pointer;
    }

#loader {
    margin-top: 70px;
    text-align: center;
}

#pins {
    top: 70px;
}

    .pin {
        background: #fff;
        width: 200px;
        box-shadow: 0 1px 3px #bbb;
        -moz-box-shadow: 0 1px 3px #bbb;
        -webkit-box-shadow: 0 1px 3px #bbb;
        padding: 15px;
        position: absolute;
    }

        .pin .editable {
            border: 2px solid rgba(255, 255, 255, 0.4);
            background: rgba(255, 255, 255, 0.4);
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            position: absolute;
            right: 23px;
            top: 23px;
            display: none;
        }

        .pin:hover .editable {
            display: block;
        }

            .pin .editable .borderable {
                padding: 7px 8px 5px;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                background: rgba(0, 0, 0, 0.8);
                cursor: pointer;
            }

        .pin img {
            width: 200px;
            padding: 0;
            margin: 0;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
        }

        .pin p {
            margin-bottom: 0;
            padding-top: 15px
        }

            .pin strong {
                color: #777;
                font-weight: normal;
            }

        .pin-footer {
            background-color: #eee;
            font-weight: bold;
            margin: 0 -15px -15px -15px;
            padding: 15px;
            margin-top: 15px;
            color: #777;
            font-size: 12px;
            cursor: default;
        }

            .pin-footer .dim {
                font-weight: normal;
                color: #999;
            }

            .pin-footer .avatar {
                width: 30px;
                height: 30px;
                background-color: #555;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
            }

            .pin-footer .text {
                width: 155px;
                margin-top: -3px;
            }

.pin-options {
    margin: 5px;
    display: none;
    right: 20px;
    position: absolute;
    padding: 5px 7px 4px;
    background-color: #eee;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 3px #ccc;
       -moz-box-shadow: 0 1px 3px #ccc;
            box-shadow: 0 1px 3px #ccc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
    
    .pin:hover .pin-options {
        display: block;
    }

#form {
    border: 1px solid #ccc;
    background-color: white;
    padding: 15px;
}

    #form h1 {
        font-family: 'Monoton';
        text-align: center;
        font-weight: normal;
        margin-bottom: 15px;
    }

    form {
        margin-bottom: 0;
    }

        textarea {
            height: 70px;
        }

        .form-actions {
            margin-bottom: 0;
        }
