.lightbox-background {
    background: rgba(0, 0, 0, 0.7);
    display: none;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 9001;
}

.lightbox-wrapper {
    background: rgba(0, 0, 0, 0.7);
    background-image: url("../img/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    left: 50%;
    margin-bottom: 100px;
    position: absolute;
}

.lightbox-wrapper img {
    max-width: 600px;
    display: none;
    -webkit-border-top-right-radius: 3px;
     -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topright: 3px;
         -moz-border-radius-topleft: 3px;
            border-top-right-radius: 3px;
             border-top-left-radius: 3px;
}

.lightbox-data {
    color: white;
    -webkit-border-bottom-right-radius: 3px;
     -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-bottomright: 3px;
         -moz-border-radius-bottomleft: 3px;
            border-bottom-right-radius: 3px;
             border-bottom-left-radius: 3px;
}

.lightbox-data .description {
    border-bottom: 1px solid #333;
    font-family: "Georgia", "Times", "Times New Roman", Serif;
    font-size: 16px;
    padding: 8px;
}

.lightbox-data .avatar img {
    display: block;
    height: 40px;
    width: 40px;
    margin: 5px;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.lightbox-data .text {
    font-weight: bold;
    margin-top: 3px;
}

.lightbox-data .text .dim {
    color: #999;
    font-size: 14px;
}

.lightbox-data .extra {
    padding: 8px 6px;
}
