.lightbox-background {
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 9001;
    display: none;
}

    .lightbox-wrapper {
        border: 1px solid #bbb;
        position: absolute;
        left: 50%;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #eee;
        background-image: url("../img/loader.gif");
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 100px;
    }

    .lightbox-wrapper img {
        display: none;
    }

        .lightbox-data {
            background: white;
        }

            .lightbox-data .description {
                padding: 8px;
                border-bottom: 1px solid #ddd;
                font-family: "Georgia", "Times", "Times New Roman", Serif;
                font-size: 16px;
            }

            .lightbox-data .avatar img {
                display: block;
                width: 40px;
                height: 40px;
                margin: 5px;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }

            .lightbox-data .text {
                margin-top: 3px;
                font-weight: bold;
            }

            .lightbox-data .text .dim {
                color: #999;
                font-size: 14px;
            }
