/* Start Globals */
body {
    background: #F5F5EB;
    margin-top: 80px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 700;
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.3em;
}

a {
    cursor: pointer;
}

#noscript {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
/* End Globals */


/* Start Navigation */
.navbar {
    background: white;
    border: none;
    border-radius: 0;
}

.navbar-brand img {
    font-family: 'Monoton', sans-serif;
    height: 30px;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    font-size: 0.9em;
    color: #111 !important;
    padding: 10px 20px;
}

.navbar-nav>li>a.btn {
    padding: 5px 10px;
    margin: 5px 17px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav>li>a.btn {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

#bookmarklet {
    cursor: move;
}
/* End Navigation */


/* Start Forms */
form {
    margin-bottom: 0;
}

textarea {
    height: 70px;
}

#form h1 {
    text-align: center;
}

#form h3 {
    text-align: center;
    margin-bottom: 15px;
}

#form .form-group {
    margin-bottom: -1px;
}

#id_username {
    -webkit-border-bottom-right-radius: 0;
     -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
         -moz-border-radius-bottomleft: 0;
            border-bottom-right-radius: 0;
             border-bottom-left-radius: 0;
}

#id_email {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

#id_password {
    margin-bottom: 15px;
    -webkit-border-top-right-radius: 0;
     -webkit-border-top-left-radius: 0;
        -moz-border-radius-topright: 0;
         -moz-border-radius-topleft: 0;
            border-top-right-radius: 0;
             border-top-left-radius: 0;
}

#submit {
    width: 100%;
}

.qq-upload-button {
    background: #eee;
    border: 3px dashed #888;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
    color: black;
    width: 238px;
}

.qq-upload-drop-area {
    background: #275173;
    border: 3px dashed #aaa;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
    color: #ccc;
}

.qq-upload-success {
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
}

.qq-upload-list li {
    background-color: #eee;
    -webit-border-radius: 3px;
      -moz-border-radius: 3px;
           border-radius: 3px;
}

.qq-upload-spinner {
    display: none;
}

.modal-body {
    overflow: hidden;
}
/* End Forms */


/* Start Pins */
#pins {
    top: 80px;
}

.pin {
    background: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #bbb;
       -moz-box-shadow: 0 1px 0 #bbb;
            box-shadow: 0 1px 0 #bbb;
    display: none;
    position: absolute;
    width: 240px;
}

.pin .editable {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: white;
}

.pin:hover .editable {
    display: block;
}

.pin .editable .borderable {
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
    display: inline-block;
}

.pin .image-wrapper {
    background-image: url("../img/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.pin img {
    -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    cursor: -webkit-zoom-in;
    cursor:    -moz-zoom-in;
    display: block;
    margin: 0;
    padding: 0;
    width: 240px;
}

.pin p {
    border-bottom: 1px solid #ddd;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 12px;
    margin-bottom: 0;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pin strong {
    color: #777;
    font-weight: normal;
}

.pin-footer {
    color: #777;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.pin-footer .dim {
    color: #999;
    font-weight: normal;
}

.pin-footer .avatar {
    background: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.pin-footer .avatar img {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    height: 30px;
    width: 30px;
}

.pin-footer .text {
    line-height: 16px;
    margin-top: -1px;
    width: 180px;
}

.spinner {
    background: url('../img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 31px;
    margin: 0 auto;
    padding: 50px;
    width: 31px;
}

#the-end {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}
/* End Pins */
