body {
    margin-top: 70px;
    background: #eee;
}

.navbar-fixed-top .navbar-inner {
    background-image: none;
    background: white;
    filter: none;
    height: 48px;
    box-shadow: 0 1px 0 #bbb;
    -moz-box-shadow: 0 1px 0 #bbb;
    -webkit-box-shadow: 0 1px 0 #bbb;
    border-bottom: 1px solid #bbb;
}

    .navbar .brand {
        margin-left: -7px;
        font-family: 'Monoton';
        color: #275173;
        font-size: 30px;
        margin-top: 5px;
    }

    .navbar .nav > li > a {
        color: #333;
        background: #ddd;
        text-shadow: none;
        padding: 3px 13px;
        margin: 12px 7px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
    }

    .navbar .nav > li:last-child > a {
        margin-right: 14px;
    }

    .navbar .nav > li > a:hover {
        color: #ddd;
        background: #275173;
    }

#loader {
    text-align: center;
    padding: 50px;
}

#pins {
    top: 70px;
}

    .pin {
        background: #fff;
        width: 240px;
        box-shadow: 0 1px 0 #bbb;
        -moz-box-shadow: 0 1px 0 #bbb;
        -webkit-box-shadow: 0 1px 0 #bbb;
        border: 1px solid #bbb;
        position: absolute;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }

        .pin .editable {
            border: 2px solid rgba(255, 255, 255, 0.4);
            background: rgba(255, 255, 255, 0.4);
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            position: absolute;
            right: 23px;
            top: 23px;
            display: none;
        }

        .pin:hover .editable {
            display: block;
        }

            .pin .editable .borderable {
                padding: 7px 8px 5px;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                background: rgba(0, 0, 0, 0.8);
                cursor: pointer;
            }

        .pin img {
            width: 240px;
            padding: 0;
            margin: 0;
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            -webkit-border-top-left-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-topright: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .pin p {
            margin-bottom: 0;
            padding: 8px;
            border-bottom: 1px solid #ddd;
            font-family: "Georgia", "Times", "Times New Roman", Serif;
            font-size: 12px;
        }

            .pin strong {
                color: #777;
                font-weight: normal;
            }

        .pin-footer {
            font-weight: bold;
            padding: 10px;
            color: #777;
            font-size: 12px;
            cursor: default;
        }

            .pin-footer .dim {
                font-weight: normal;
                color: #999;
            }

            .pin-footer .avatar {
                width: 30px;
                height: 30px;
                background-color: #555;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }

                .pin-footer .avatar img {
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                }

            .pin-footer .text {
                width: 180px;
                margin-top: -1px;
                line-height: 16px;
            }

.pin-options {
    display: none;
    right: 20px;
    position: absolute;
    padding: 5px 7px 4px;
    background-color: #eee;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 3px #ccc;
       -moz-box-shadow: 0 1px 3px #ccc;
            box-shadow: 0 1px 3px #ccc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
    
    .pin:hover .pin-options {
        display: block;
    }

#form {
    border: 1px solid #ccc;
    background-color: white;
    padding: 15px;
}

    #form h1 {
        font-family: 'Monoton';
        text-align: center;
        font-weight: normal;
        margin-bottom: 15px;
    }

    form {
        margin-bottom: 0;
    }

        textarea {
            height: 70px;
        }

        .form-actions {
            margin-bottom: 0;
        }
