.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.fake-hide {
  opacity: 0;
}

.pin {
  transition: opacity .3s;
}
