{% spaceless %}
{% load compress new_pin %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ SITE_NAME }} - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Monoton">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/css/bootstrap.min.css">
        {% compress css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/messages.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}css/pinry.css">
        {% endcompress %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a href="{% url 'core:home' %}" class="brand pull-left">{{ SITE_NAME }}</a>

                <div class="tags pull-left"></div>

                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        <li><a href="#" class="bookmarklet-link">Bookmarklet</a></li>
                        <li><a href="#call-pin-form" id="call-pin-form">New Pin</a></li>
                        <li><a href="{% url 'core:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'core:login' %}">Login</a></li>
                        <li><a href="{% url 'core:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block yield %}{% endblock %}

        {% block templates %}{% endblock %}

        {% compress js inline %}
            <script>
                var apiLimitPerPage = {{ API_LIMIT_PER_PAGE }},
                    currentUser = "{{ user.id }}";
            </script>
        {% endcompress %}

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
        {% compress js %}
            <script src="{{ STATIC_URL }}js/messages.js"></script>
            <script src="{{ STATIC_URL }}js/lightbox.js"></script>
            <script src="{{ STATIC_URL }}js/pinry.js"></script>
            <script src="{{ STATIC_URL }}js/pin-form.js"></script>
        {% endcompress %}
    </body>
</html>
{% endspaceless %}
