{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div id="form" class="span6 offset3">
                <h1>Register</h1>
                <form action="{% url "users:register" %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% for field in form %}
                        {% include "includes/field.html" %}
                    {% endfor %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
